{% extends 'blog/base.html' %}


{% block navigation %}
    {% if user.is_authenticated %}
        <div class="submission-choice">
            <li><a href="{% url 'post_edit' pk=post.pk %}">Edit</a></li>
            <li><a href="{% url 'post_delete' pk=post.pk %}">Delete</a></li>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}

        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>

    </div>
{% endblock %}