.header-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.page-header {
    background-color: #089ba8;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;

}

.navigation-bar{
	padding: 0;
	list-style: none;
	background-color: #333;
}

.submission-choice, .navigation-bar ul li {
	display: inline-block;
	position: relative;
	text-align: left;
	background-color: #333;
}

.submission-choice {
    float:right;
    margin-right: 40px;
}

.submission-choice a, .navigation-bar li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
	font-size: 15px;
}

.navigation-bar li a:hover, .dropdown:hover, .dropbtn:hover, .submission-choice:hover {
    background-color: #111;
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    padding: 0px 0px;
    z-index: 999;
    left:0;
}

.right-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    padding: 0px 0px;
    z-index: 998;
    left: 0;
}

.dropdown-content a, .right-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .right-dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content, .dropdown:hover .right-dropdown-content {
    display: block;
}


.save-quit{
    background: #f9f9f9;
    color: black;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;

}

.save-quit:hover{
    background-color: #f1f1f1;

}


.content {
    margin-left: 40px;
    position: relative;
    margin-top: 200px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}
